@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');

p:not(.footer-copyright) {
    font-family: 'Montserrat', sans-serif !important;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.entry-content>*:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
	max-width: 100%;
	width: calc(100% - 20rem);
}

@media (max-width:479px) {
    .entry-content>*:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
        max-width: 100%;
        width: calc(100% - 5rem);
    }
}

.entry-content.summary {
    text-align: center;
}

.textwidget a {
    text-decoration: none;
}

.textwidget i {
    margin-right: 5px;
    width: 20px;
}

.no-decoration {
    text-decoration: none;
    color: #000;
}

.upcoming {
    color: #cd2653;
}

.home-slideshow {
    border-top: 4px solid #cd2653;
    border-bottom: 4px solid #cd2653;
    border-left: 4px solid #cd2653;
    margin-top: 10px;
}

img.upcoming {
    border-right: 4px solid #cd2653;
    padding: 2px;
}

h4.upcoming {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-inner.medium {
    max-width: 105rem;
}

.singular .featured-media-event {
	position: relative;
	left: calc(50% - 50vw);
	width: 60vw;
}

.mt-30 {
	margin-top: 30px !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.mb-0 {
	margin-bottom: 0px !important;
}

.mt-0 {
	margin-top: 0px !important;
}

.pt-30 {
	padding-top: 30px !important;
}

.pb-30 {
	padding-bottom: 30px !important;
}

.pt-40 {
	padding-top: 40px !important;
}

.pb-40 {
	padding-bottom: 40px !important;
}
